<div 
    class="fixed inset-0 z-50 items-center justify-center bg-black/50 opacity-0 transition-opacity duration-300 ease-in-out hidden"
    data-filter-target="modal"
    data-action="click->filter#overlayClose"
>
    <div class="bg-white p-6 rounded shadow-lg w-full max-w-md relative">
        <button data-action="click->filter#close" class="absolute top-2 right-2 text-gray-600 hover:text-black">
            ✕
        </button>

        <h2 class="text-xl font-bold mb-4">Filter Characters</h2>

        <div data-filter-target="message" class="hidden"></div>

        <form 
            data-action="submit->filter#applyFilters" 
            class="space-y-4"
            data-filter-target="container"
        >
            <div>
                <label class="block font-medium">Dimension</label>
                <select 
                    name="dimension" 
                    data-filter-target="dimension"
                    class="w-full border border-gray-300 p-2 rounded shadow-md"
                >
                    <option value="-all-">All</option>
                </select>
            </div>

            <div>
                <label class="block font-medium">Location</label>
                <select 
                    name="location" 
                    data-filter-target="location"
                    class="w-full border border-gray-300 p-2 rounded shadow-md"
                >
                    <option value="-all-">All</option>
                </select>
            </div>

            <div>
                <label class="block font-medium">Episode</label>
                <select 
                    name="episode" 
                    data-filter-target="episode"
                    class="w-full border border-gray-300 p-2 rounded shadow-md"
                >
                    <option value="-all-">All</option>
                </select>
            </div>

            <div>
                <label class="block font-medium">Status</label>
                <select 
                    name="status" 
                    class="w-full border border-gray-300 p-2 rounded shadow-md"
                >
                    <option value="-all-">All</option>
                    {% for status in statuses %}
                        <option value="{{ status.value }}" {% if app.request.get('status') == status.value %}selected{% endif %}>
                            {{ status.label() }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <label class="block font-medium">Species</label>
                <input 
                    name="species" 
                    type="text" 
                    class="w-full border border-gray-300 p-2 rounded shadow-md" 
                    placeholder="e.g. Human" 
                />
            </div>

            <div>
                <label class="block font-medium">Gender</label>
                <select 
                    name="gender" 
                    class="w-full border border-gray-300 p-2 rounded shadow-md"
                >
                    <option value="-all-">All</option>
                    {% for gender in genders %}
                        <option value="{{ gender.value }}" {% if app.request.get('gender') == gender.value %}selected{% endif %}>
                            {{ gender.label() }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div 
                class="flex justify-end gap-2"
                data-filter-target="button"
            >
                <button 
                    class="px-4 py-2 bg-gray-300 rounded 
                                cursor-pointer disabled:cursor-default
                                drop-shadow-lg disabled:drop-shadow-sm
                                hover:bg-gray-600 disabled:bg-gray-300 disabled:hover:bg-gray-300
                                hover:text-white disabled:text-gray-400 disabled:hover:text-gray-400"
                    type="button" 
                    data-action="click->filter#close"
                >
                    Cancel
                </button>
                <button 
                    class="px-4 py-2 bg-blue-300 rounded 
                                cursor-pointer disabled:cursor-default
                                drop-shadow-lg disabled:drop-shadow-sm
                                hover:bg-gray-500 disabled:bg-gray-300 disabled:hover:bg-gray-300
                                hover:text-white disabled:text-gray-400 disabled:hover:text-gray-400"
                    type="submit" 
                >
                    Apply
                </button>
            </div>
        </form>
    </div>
</div>